
@media (max-width: 790px) {
    .contenedorTitulo {
      display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content:space-between;
        align-items: center;
        background: rgb(19,19,97);
        background: linear-gradient(90deg, rgba(19,19,97,1) 0%,
        rgba(17,17,194,1) 31%, rgba(5,14,75,1) 100%);
        padding: 0rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        margin-right: 5rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden; /* Garantiza que nada se salga del header */

      }    
      
      .metanoticiasContainer {
        grid-template-columns: repeat(2, 1fr); /* 1 columna para teléfonos grandes */
        grid-gap: 1.5rem; /* Más espacio entre las noticias */
      }
    
      .noticiasContainer {
        padding: 1.5rem; /* Aumenta el padding para teléfonos */
        margin: 1.5rem;
      }
    }

/* Estilo del logo */
.logo img {
  max-height: 3rem; /* Limita la altura al tamaño del header */
  height: auto; /* Ajusta proporcionalmente */
  width: auto; /* Mantiene proporciones */
  object-fit: contain; /* Asegura que el logo no se deforme */
  display: block;
  margin: 0 auto;
}

/* Contenedor del logo para centrarlo */
.logo {
  height: 80%; /* Igual al header */
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  padding: 15px; /* Reduce el padding */
  font-size: 1rem; /* Reduce el tamaño de fuente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menos sombra */
}

.testimonial span {
  margin-top: 8px; /* Ajusta el espacio superior */
  font-size: 0.9rem; /* Tamaño más pequeño */
}

.botonSede {
  padding: 1.5rem 3rem; /* Reduce el padding */
  font-size: 1.5rem; /* Reduce el tamaño de fuente */
  border-radius: 1.5rem; /* Reduce el redondeo */
}






  @media (max-width: 480px) {
    .testimonial {
      padding: 10px; /* Aún más reducido en teléfonos pequeños */
      font-size: 0.9rem; /* Fuente más compacta */
      border-radius: 5px; /* Menos curva en bordes */
    }
  
    .testimonial span {
      margin-top: 6px;
      font-size: 0.8rem; /* Fuente aún más pequeña */
    }
    .botonSede {
      padding: 1rem 2rem; /* Padding aún más pequeño */
      font-size: 1.2rem; /* Fuente más compacta */
      border-radius: 1rem; /* Redondeo menor */
    }

    .metanoticiasContainer {
      grid-template-columns: repeat(1, 1fr); /* 1 columna */
      grid-gap: 2rem; /* Aumenta el espacio en pantallas muy pequeñas */
    }
  
    .noticiasContainer {
      padding: 1rem; /* Reduce el padding en teléfonos pequeños */
      margin: 1rem;
      font-size: 0.8rem; /* Ajusta el texto si es necesario */
    }

    .botonNoticia {
      font-size: 0.9rem;
      padding: 8px 16px;
    }

  }
  






