
@media (max-width: 790px) {
    .contenedorTitulo {
      display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content:space-between;
        align-items: center;
        background: rgb(19,19,97);
        background: linear-gradient(90deg, rgba(19,19,97,1) 0%,
        rgba(17,17,194,1) 31%, rgba(5,14,75,1) 100%);
        padding: 0rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        margin-right: 5rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden; /* Garantiza que nada se salga del header */

      }    
      
      .metanoticiasContainer {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }

/* Estilo del logo */
.logo img {
  max-height: 3rem; /* Limita la altura al tamaño del header */
  height: auto; /* Ajusta proporcionalmente */
  width: auto; /* Mantiene proporciones */
  object-fit: contain; /* Asegura que el logo no se deforme */
  display: block;
  margin: 0 auto;
}

/* Contenedor del logo para centrarlo */
.logo {
  height: 80%; /* Igual al header */
  display: flex;
  align-items: center;
  justify-content: center;
}


  }

  








